<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Amnesty Screen Saver</string>
	<key>CFBundleIconFile</key>
	<string>AmnestySaver.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.mesadynamics.AmnestyScreenSaver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>aMss</string>
	<key>CFBundleVersion</key>
	<string>1.6</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.4</string>
	<key>NSPrincipalClass</key>
	<string>Amnesty_Screen_SaverView</string>
</dict>
</plist>
